body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#circle {
    width: 30px;
    height: 30px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    bottom: 50%; 
    display: flex;
    justify-content: center;
}

#white-mark {
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    margin-top: 4px; 
}

#line {
    width: 4px;
    height: 40px;
    background-color: #333;
    position: absolute;
    bottom: 50%;
    right: -50px; 
}